@import url("https://fonts.googleapis.com/css?family=Noto+Sans:regular,bold,italic&subset=latin,latin-ext");

body {
  font-family: "Nonto Sans";
}

.overallDiv {
  background-image: url("./images/bg-light.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  padding: 32px 18px;
}

.overallDivDark {
  background-image: url("./images/bg-dark.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  padding: 32px 18px;
}

.userInputAndActionColumnDiv {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
}

.userInputAndActionRowDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.floatingLabelTextDark {
  color: #fff !important;
}

.cityInput {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-flow: column;
  flex-basis: 280px;
}

.cityFormControl {
  border-radius: 20px !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-width: 0 !important;
  font-size: 16px;
  width: 100%;
}

.cityFormControlDark {
  border-radius: 20px !important;
  background-color: rgba(26, 26, 26, 0.5) !important;
  border-width: 0 !important;
  font-size: 16px;
  width: 100%;
  color: #fff !important;
}

.cityError {
  margin: 10px 0 0 10px !important;
}

.countryCodeFormControl {
  border-radius: 20px !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-width: 0 !important;
}

.countryCodeFormControlDark {
  border-radius: 20px !important;
  background-color: rgba(26, 26, 26, 0.5) !important;
  border-width: 0 !important;
  color: #fff !important;
}

.countryCodeInput {
  display: flex;
  flex-shrink: 1;
}

.searchButton,
.clearButton {
  width: 60px;
  height: 60px;
  background-color: #6c40b5 !important;
  border-color: #6c40b5 !important;
  border-radius: 20px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.searchButtonDark,
.clearButtonDark {
  width: 60px;
  height: 60px;
  background-color: #28124d !important;
  border-color: #28124d !important;
  border-radius: 20px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.searchButtonIcon {
  width: 40px;
  height: 40px;
  color: #fff;
}

.clearButtonIcon {
  width: 32px;
  height: 32px;
  color: #fff;
}

.searchError {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 20px !important;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 20px;
  font-weight: 600;
}

.searchErrorDark {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 20px !important;
  text-align: center;
  background-color: rgba(26, 26, 26, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 20px;
  font-weight: 600;
  color: #fff;
}

.weatherResultsDiv {
  padding: 40px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  max-width: 700px;
  margin: auto;
}

.weatherResultsDivDark {
  padding: 40px;
  border-radius: 40px;
  background-color: rgba(26, 26, 26, 0.3);
  backdrop-filter: blur(10px);
  max-width: 700px;
  margin: auto;
}

.retrievedWeatherDiv {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.retrievedWeatherRow1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexColumn1,
.flexColumn2 {
  display: flex;
  flex-direction: column;
}

.retrievedWeatherDateTime,
.retrievedHumidity {
  text-align: center;
}

.textColor {
  color: #000;
}

.textColorDark {
  color: #fff;
}

.currentTemperatureDiv {
  margin: 18px 0 10px 0;
  font-size: 98px;
  font-weight: bolder;
  color: #6c40b5;
  line-height: 75px;
}

.currentTemperatureDivDark {
  margin: 18px 0 10px 0;
  font-size: 98px;
  font-weight: bolder;
  color: #fff;
  line-height: 75px;
}

.staticImage {
  position: absolute;
  height: 330px;
  top: -105px;
  right: 15px;
}

.retrievedWeatherRow2 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 10px;
  color: #666;
}

.retrievedWeatherRow2Dark {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 10px;
  color: #fff;
}

.retrievedWeatherCountryText {
  font-weight: 700 !important;
}

.retrievedWeatherRow3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 3;
  flex-wrap: wrap;
}

.searchHistoryDiv {
  margin-top: 28px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  padding: 24px 0;
  height: 480px;
  overflow: scroll;
}

.searchHistoryDivDark {
  margin-top: 28px;
  background-color: rgba(26, 26, 26, 0.3);
  border-radius: 24px;
  padding: 24px 0;
  height: 480px;
  overflow: scroll;
}

.searchHistoryHeader {
  margin: 0 0 26px 20px;
}

.searchHistoryResultDiv {
  display: flex;
  margin: 0px 20px 18px 20px;
  border-radius: 16px;
  height: 60px;
  padding: 12px 20px;
  background: rgba(255, 255, 255, 0.4);
  align-items: center;
  gap: 10px;
}

.searchHistoryResultDivDark {
  display: flex;
  margin: 0px 20px 18px 20px;
  border-radius: 16px;
  height: 60px;
  padding: 12px 20px;
  background: rgba(26, 26, 26, 0.5);
  align-items: center;
  gap: 10px;
}

.searchHistoryResultTextGroup {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 5;
  justify-content: space-between;
  align-items: center;
}

.searchHistoryResultTextGroupDark {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 5;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.searchHistoryResultDateTime {
  font-size: 14px;
}

.searchHistoryResultDateTimeDark {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.flexColumnWithGap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.searchHistoryResultActionDiv {
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchHistoryResultActionDivDark {
  width: 36px;
  height: 36px;
  background: transparent;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
}

.searchHistoryResultActionIcon {
  width: 20px;
  height: 20px;
  color: #666;
}

.searchHistoryResultActionIconDark {
  width: 20px;
  height: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.noSearchResultsText {
  text-align: center;
  font-weight: 600;
}

.noSearchResultsTextDark {
  text-align: center;
  font-weight: 600;
  color: #fff;
}

.darkModeDiv {
  display: flex;
  margin: auto;
  width: 700px;
  padding: 0 0 10px 31px;
  margin-top: 100px;
}

.darkModeToggleSwitch {
  color: #000;
}

.form-check-input:checked {
  background-color: rgba(26, 26, 26, 0.3) !important;
  border-color: rgba(26, 26, 26, 0.3) !important;
}

.form-control:focus,
.form-check-input:focus {
  box-shadow: none !important;
}

.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
  background-color: transparent !important;
}

.floatingLabelTextDark > .form-control-plaintext ~ label,
.floatingLabelTextDark > .form-control:focus ~ label,
.floatingLabelTextDark > .form-control:not(:placeholder-shown) ~ label,
.floatingLabelTextDark > .form-select ~ label {
  color: rgba(255, 255, 255, 0.4) !important;
}

@media only screen and (max-width: 576px) {
  .userInputAndActionRowDiv {
    flex-direction: column;
  }

  .cityInput {
    flex-basis: 0;
    font-size: 14px !important;
  }
  .cityFormControl,
  .cityFormControlDark {
    width: 100% !important;
    height: 40px !important;
    font-size: 16px !important;
  }

  .countryCodeInput {
    display: block;
    font-size: 14px !important;
  }

  .countryCodeFormControl,
  .countryCodeFormControlDark {
    width: 100% !important;
    font-size: 16px !important;
  }

  .searchButton,
  .clearButton,
  .searchButtonDark,
  .clearButtonDark {
    width: 40px;
    height: 40px;
    border-radius: 15px !important;
  }

  .weatherResultsDiv,
  .weatherResultsDivDark {
    padding: 20px;
    border-radius: 20px;
  }

  .staticImage {
    position: absolute;
    height: 160px;
    top: -53px;
    right: 10px;
  }

  .retrievedWeatherDiv {
    padding: 0 5px;
  }

  .textColor,
  .textColorDark {
    font-size: 14px;
  }

  .currentTemperatureDiv,
  .currentTemperatureDivDark {
    margin: 10px 0 10px 0;
    font-size: 60px;
    line-height: 35px;
  }

  .retrievedWeatherRow2,
  .retrievedWeatherRow2Dark {
    font-size: 14px;
    gap: 10px;
  }

  .retrievedWeatherRow3 {
    flex-direction: column-reverse;
    position: absolute;
    right: 23px;
    top: 85px;
  }

  .flexColumn2 {
    flex-direction: row-reverse;
  }

  .retrievedWeatherDateTime,
  .retrievedHumidity,
  .retrievedWeather {
    text-align: right !important;
  }

  .retrievedWeatherCountryText {
    max-width: 120px;
  }

  .searchHistoryDiv,
  .searchHistoryDivDark {
    margin-top: 20px;
    padding: 22px 0;
  }

  .searchHistoryResultDiv,
  .searchHistoryResultDivDark {
    padding: 10px;
  }

  .searchHistoryResultTextGroup,
  .searchHistoryResultTextGroupDark {
    font-size: 14px;
    flex-direction: column;
    align-items: normal;
  }

  .searchHistoryResultDateTime,
  .searchHistoryResultDateTimeDark {
    font-size: 10px;
  }

  .is-invalid ~ .invalid-feedback,
  .is-invalid ~ .invalid-tooltip,
  .was-validated :invalid ~ .invalid-feedback,
  .was-validated :invalid ~ .invalid-tooltip {
    position: static;
    margin-left: 0px !important;
  }

  .searchError,
  .searchErrorDark {
    font-size: 12px;
    padding: 20px;
  }

  .noSearchResultsText,
  .noSearchResultsTextDark {
    font-size: 12px;
  }

  .darkModeDiv {
    padding: 0 0 10px 10px;
  }
}
